.card img {
    width: 183px;
    height: 281px;
    margin: 0;
    margin-right: 20px;
    float: left;
}

.img-spin .ant-spin {
    width: 203px;
}
.img-spin {
    height: 281px;
    float: left;

    padding-top: 10px;
}

@media (max-width: 980px) {
    .card img {
        width: 60px;
        height: 91px;
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 13px;
        margin-bottom: 10px;
    }

    .img-spin {
        width: 60px;
        height: 91px;
        float: left;
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 13px;
        margin-bottom: 10px;
    }
}
