@import '~antd/dist/antd.css';


.container {
    padding-top: 21px;
    background-color: #fff;
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
}

@media (max-width: 907px) {
    .container {
        grid-template-columns: repeat(1, auto);
  
    }
}

.App {
    background-color: #e5e5e5;
}

.font-face-inter {
    font-family: "Inter";
   }