.genre-info {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
}

@media (max-width: 980px) {
    .genre-info {
        margin-bottom: 12px;
    }
}
.genre-info__item {
    margin-right: 8px;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    line-height: 15px;
    padding: 2px 4px;
    list-style: none;
    margin-bottom: 8px;
}
